* text=auto eol=lf

*.java text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.toml text eol=lf
*.mcmeta text eol=lf
*.snbt text eol=lf

gradlew text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ttf binary
*.ogg binary
*.nbs binary
*.class binary
